In [9]:
from binance import Client
import pandas as pd
import numpy as np

In [10]:
from secret import KEY, SECRET
client = Client(KEY, SECRET)

In [11]:
download = True

if download:
    data = client.get_historical_klines(symbol='BTCUSDT', 
                                        interval=Client.KLINE_INTERVAL_5MINUTE,
                                        start_str='1 Jan 2023',
                                        end_str='2 Oct 2023')
    # Convert to DataFrame
    data = pd.DataFrame(data)

    # Rename columns
    data.columns = ['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close Time', 'Quote Asset Volume', 
                    'Number of Trades', 'TB Base Volume', 'TB Quote Volume', 'Ignore']

    # Pick the columns
    data = data[['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume']]

    # Fix datatypes
    data.loc[:, 'Timestamp'] = pd.to_datetime(data['Timestamp']/1000, unit='s')
    data[data.columns[1:]] = data[data.columns[1:]].apply(pd.to_numeric, axis='columns')

data

                Timestamp      Open      High       Low     Close     Volume
0     2023-01-01 00:00:00  16541.77  16544.76  16527.51  16535.38  486.60903
1     2023-01-01 00:05:00  16534.91  16540.43  16522.55  16526.67  391.19043
2     2023-01-01 00:10:00  16526.67  16530.87  16520.00  16520.69  294.73889
3     2023-01-01 00:15:00  16521.26  16537.73  16517.72  16534.94  481.18777
4     2023-01-01 00:20:00  16534.94  16540.66  16532.33  16535.54  309.53189
...                   ...       ...       ...       ...       ...        ...
78892 2023-10-01 23:40:00  27940.87  27971.66  27933.45  27968.66  158.49870
78893 2023-10-01 23:45:00  27968.66  27973.01  27941.16  27970.41  114.56755
78894 2023-10-01 23:50:00  27970.41  28000.00  27958.60  27978.10  134.47609
78895 2023-10-01 23:55:00  27978.10  27992.58  27953.39  27992.57  123.49422
78896 2023-10-02 00:00:00  27992.58  28062.43  27969.66  27980.71  692.66397

[78897 rows x 6 columns]

In [12]:
data.to_csv('data/BTCUSDT_5MIN_data.csv', index=False)
# data.to_csv('data/BTCUSDT_1DAY_data.csv', index=False)